.panel-body-paddingless {
    padding: 0;
}

.search-option i {
    padding-right: 2px;
}

.search-option span {
    padding: 10px 10px 10px 10px;
}

table.dataTable thead th.search-option {
    padding: 10px 18px 10px 5px;
}

.nav > li.menu-header {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a.menu-header:hover, .nav > li > a.menu-header:focus {
    color: #fff;
    background-color: #286090;
}

.search-control {
    width: 100%;
}

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/Images/bg-image.jpg');
}

.copyright-menu {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
    list-style: none;
    margin-bottom: 0;
    border-top: 1px solid #e7e7e7;
}

.navbar-copyright {
    position: absolute;
    margin-bottom: 0;
    padding-bottom: 0;
    border-width: 1px 0 0;
    visibility: collapse;
}

.navbar-brand {
    font-size: 16px;
}

@media all and (min-width:768px) {
    .copyright-menu {
        width: 250px;
    }

    .navbar-copyright {
        visibility: visible;
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

.page-header {
    margin: 20px 0 20px;
}

.labeltitle {
    margin-top: 0;
}

.collapse-pointer {
    cursor: pointer;
}

.no-padding {
    padding: 0;
}

.serverwallet .table .no-padding {
    padding: 0;
}

.serverwallet .list-group-item {
    border-radius: 0;
    border: none;
}

.panel-heading .popover {
    color: #000000;
    width: 100%;
}

.border-left {
    border-left: 1px solid #000000;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-top {
    margin-top: 15px;
}

.field-validation-error {
    color: #a94442;
}

.validation-summary-errors {
    color: #a94442;
}

.navbar-brand {
    padding: 5px;
}

.dropdown-menu {
    padding-bottom: 0;
}

.dropdown-messages li a {
    background-color: #cde2e9;
}

.dropdown-messages img {
    height: 30px;
}

.dropdown-messages li {
    margin-top: 2px;
}

button.lpdc-inactive {
    background-color: lightgray;
    border-color: black;
}

button.lpdc-disabled {
    background-color: indianred;
    border-color: black;
}

.panel-default > .lpdc-inactive {
    background-color: lightgray;
    border-color: lightgray;
}

.panel-default > .lpdc-disabled {
    background-color: indianred;
    border-color: indianred;
}

#myChartBuy-legend {
    /*position: absolute;*/
    width: 100%;
    bottom: 10%;
}

    #myChartBuy-legend ol,
    #myChartBuy-legend ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #myChartBuy-legend li {
        display: inline-table;
        margin: 10px 4px;
    }

        #myChartBuy-legend li span {
            /*position: relative;*/
            padding: 6px 20px;
            border-radius: 13px;
            color: white;
            z-index: 2;
        }
